body{
  margin:0;
  width:100%;
  height:100vh;
  position: relative;
}
@font-face {
  font-family:"Disko";
  src:url("font/Disko.eot") format("eot"),url("font/Disko.woff") format("woff"),url("font/Disko.ttf") format("truetype"),url("font/Disko.svg") format("svg");
  font-weight:normal;
  font-style:normal;
}

#wrapper {
  width:100vw;
  height:100vh;
}
#header {
  display:flex;
  justify-content:space-between;
  position:absolute;
  width:100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index:5;
  top:0;
}
#header:hover {
  cursor:pointer;
}

#score {
  text-align: center;
  font-size:3vw;
  font-family: 'Disko';
  color:#cebbff;
}
#life {
  flex-basis:202px;
}
@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

svg:hover {
  animation: bounce 1s;
}

#canvas {
  position:absolute;
  cursor:none;
}
#play-again {
  background-color: white;
  border: solid 3px #CFE0F1;
  border-radius:12px;
  font-family: 'Disko';
  color:#7252E4;
  font-size:1em;
}
#play-again:hover {
  background-color:#7252E4;
  color:white;
  transform:scale(1.1);
}

#game-over {
  text-align: center;
  font-family: 'Disko';
  color:#7252E4;
  position:absolute;
}



#overlay {
  position:absolute;
  width:100%;
  height:100vh;
  display:none;
  background-color: rgba(255, 255, 255, 0.4);
}


#react1, #react2 {
  position:absolute;
  left:80%;
  top:0px;
  width:20vw;
  opacity:0;
}
@keyframes showReact
    {
        0% { opacity: 0; }
        50% { opacity: 1; }
      100% { opacity: 0; }
    }

#player {
  cursor:none;
}



