body{
  margin:0;
}

@font-face {
  font-family:"Disko";
  src:url("font/Disko.eot?") format("eot"),url("font/Disko.woff") format("woff"),url("font/Disko.ttf") format("truetype"),url("font/Disko.svg#Disko") format("svg");
  font-weight:normal;
  font-style:normal;
}

@media screen and (orientation:portrait) and (max-device-width: 60em) {
    div.cover{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
}

.hiddenElements{
  position:absolute;
  background-color: #B4B4E8;
  border: solid 3px #CFE0F1;
  border-radius:12px;
  width:50vw;
  margin:10px;
  text-align:center;
  padding:10px 0 10px 0;
  font-family:'Comfortaa', cursive;
  font-size:4vh;
  color:white;
  transition-duration: 1s;
  transition-timing-function: linear;
  overflow: hidden;
}

#rules{
  padding:10px 10px 10px 10px;
}
#records>div{
  min-height: 4vh;
  text-align:left;
  padding-left: 10%;
  font-size:4vh;
}

#playerName input {
  width:70%;
  background-color: #8383E1;
}
#playerName input:focus {
  margin:10px;
  color:#8383E1;
  background-color: white;
}


#wrapper {
  width:100%;
  height:100vh;
  background-size:cover;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  position:relative;
}

.logo{
  font-family: "Disko", "Arial", sans-serif;
  font-size:6vw;
  color:#B4B4E8;
  margin:0;
}

.cover {
  display:none;
  position:absolute;
  z-index:10;
  width:100%;
  height:100vh;
  font-family: "Disko", "Arial", sans-serif;
  font-size:6vw;
  color:#8383E1;
  background-image:url('img/back3.jpg');
  background-size:cover;
}

.menu {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  position:relative;
}

.menuElem {
  background-color: #B4B4E8;
  border: solid 3px #CFE0F1;
  border-radius:12px;
  width:50vw;
  margin:10px;
  text-align:center;
  padding:10px 0 10px 0;
  font-family: "Disko", "Arial", sans-serif;
  font-size:2vw;
  color:white;
}

.menuElem:hover {
  background-color:white;
  color:#B4B4E8;
  tranform: scale(1.2);
}

.menuElem:focus {
  color:white;
  background-color:#8383E1;
}


 img#doc {
   position:absolute;
   width:20vw;
 }
img#virus1, img#virus2, img#cell1, img#cell2 {
   position:absolute;
   width:10vw;
 }




.button {
  background-color: white;
  border: solid 3px #CFE0F1;
  border-radius:12px;
  color:#B4B4E8;
  font-size:1em;
  font-family: 'Disko';
}
.button:hover {
  color:#8383E1;
}



@media all and (max-width:50em){ 
  .menuElem {
  width:90vw;
  font-size:4vw;
}
  .hiddenElements {
  width:90vw;
  font-size:3vh; 
}
 #records.hiddenElements>div{
  font-size:3vh; 
}
}